/* Réinitialisation des styles CSS par défaut des boutons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
